@font-face {
  font-family: 'centaur';
  src: url('./fonts/CENTAUR.TTF');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'centaur';
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.search {
  background-color: #50c7f4;
  z-index: 10;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3rem 0;
}

.search-box {
  width: 90%;
  max-width: 500px;

  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 1);
}

.search-input {
  width: 100%;
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 1rem;
  font-family: 'centaur';
}

.search-btn {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  height: 100%;
  padding: 0 2rem;
  font-family: 'centaur';
  border: none;
  font-size: 1.25rem;
  position: absolute;
  right: 0;
  top: 0;
}

.suggestions-container {
  height: 0px;
  overflow: hidden;

  transition: height 0.1s ease-in-out;
}

.show-suggestions-container {
  height: 262px;
}

.suggestions-title {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 2rem;
}

.suggestions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.suggestion {
  width: 200px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
  font-weight: 500;
  color: #fefefe;

  background-size: cover;
  background-repeat: no-repeat;
}

.suggestion:hover {
  cursor: pointer;
}

.suggestion-2xl {
  width: 400px;
}

.suggestion-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/img1.jpg');
}
.suggestion-two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/img2.jpg');
}
.suggestion-three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/img3.jpg');
}
.suggestion-four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/img4.jpg');
}
.suggestion-five {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/img5.jpg');
}

.overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  backdrop-filter: blur(5px);
  z-index: -1;
}

.show-overlay {
  display: block;
}
